.items{
    display: block;
    width: 100%;
}
.items_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.item{
    display: flex;
    align-items: center;    
}
.item_content{
    display: block;
}
.item_number{
    display: block;
    font-size: 2rem;
    font-weight: bold;
}
.item_text{
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary);
}
.item_percent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: 0.8rem;
    padding: 0.6rem 0.8rem;
    color: var(--whiteColor);
    border-radius: 0.3rem;
    background-color: var(--greenColor);
}